#home{
    background: #ffc107;
    color: white;
}
#imagem-mulher{
    padding-left: 60px;
}

.caixa{
    padding: 60px 0px;
    border-bottom: 1px solid gray;

}

footer p a{
    margin: 5px 15px;
}